.signup
  %h3 Exclusive Wedding Deals Membership
  %p
    Sign up to receive exclusive
    %br 
    wedding deals from top vendors.
  = form_for @beta_user do |f|
    - if @beta_user.errors.any?
      .errors
        %h4 There was a problem saving your registration.
        %ul
          - @beta_user.errors.full_messages.each do |msg|
            %li= msg

    %p
      = f.label :name
      = f.text_field :name
    %p
      = f.label :email
      = f.text_field :email
    %p
      = f.label :wedding_date, "Wedding Date"
      = f.text_field :wedding_date
    %p
      = f.label :wedding_city, "Wedding City"
      = f.text_field :wedding_city, :style => "width: 12em"
      &nbsp;
      = f.label :wedding_state, "State"
      = f.text_field :wedding_state, :size => 2
    %p
      = link_to_function("Sign Up", "this.form.submit()", :class => "fancy button")
