!!!
%html
  %head
    %title Exclusive Wedding Deals
    = stylesheet_link_tag "site"
    = javascript_include_tag "jquery-1.5.1.min", "rails"
    = csrf_meta_tag
    %link{:href => 'http://fonts.googleapis.com/css?family=Quattrocento&v1', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Tangerine&v1', :rel => 'stylesheet', :type => 'text/css'}

  %body
    = render "layouts/header"
    #content_container
      #content.content
        .containing= yield
        = image_tag("background_photos/bg#{rand(7) + 1}.jpg", :title => "", :class => "background_image")
      = render "layouts/footer"

    = render "layouts/analytics"
